<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <h3 style="color: white;font-size: 22px">
                        <img src="img/login.png" style="width: 50px;height: auto"> 六盘水党建云
                    </h3>
                </div>
                <div class="logo-element">
                    党建云
                </div>
            </li>
            <!-- style="display: none" -->
            <ul >
                <li ng-repeat="item in lists" class="{{item.active}}">
                    <a href="{{item.url}}" target="_self"><i class="fa fa-th-large"></i><span class="nav-label">{{item.title}}</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" ng-repeat="cItem in item.children">
                        <li class="{{cItem.active}}">
                            <a href="{{cItem.url}}" target="_self">{{cItem.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- <li class="active">
                    <a href="article_home.html" target="_self"><i class="fa fa-th-large"></i> <span class="nav-label">网上讲习所</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="active"><a href="article_home.html" target="_self">文章管理</a></li>
                        <li><a href="article_type.html" target="_self">文章类型</a></li>
                    </ul>
                </li>
                <li >
                    <a href="village_home.html" target="_self"><i class="fa fa-th-large"></i> <span class="nav-label">党建大数据</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="village_home.html" target="_self">党支部管理</a></li>
                        <li><a href="ganbu_manage.html" target="_self">驻村干部管理</a></li>
                        <li><a href="flags_piao.html" target="_self">党建地图</a></li>
                    </ul>
                </li>

                <li>
                    <a href="table_data_tables.html#" target="_self"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">云学习中心</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="examination_paper_list.html" target="_self">考试管理</a></li>
                        <li><a href="test_manage.html" target="_self">考试题管理</a></li>
                        <li><a href="study_credit_list.html" target="_self">在线学习学分配置</a></li>
                    </ul>
                </li> -->
        </ul>

    </div>
</nav>